html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* ESTILOS */
.imgSlider{
    max-width:70%;
}

.sheetSlider {
    background-color: #000;
    text-align:center;
}


.sh__meta span, .sh__meta h4 
{
    color: brown;
}


.sh__arrows i
{
    font-size:40px;
    font-style:bold;
    font-weight:800;
}