@{
    ViewData["Title"] = "Home Page";
}

<!--Sheet Slider-->
<div class="sheetSlider sh-default">
   <input id="s1" type="radio" name="slide1" checked/> 
   <input id="s2" type="radio" name="slide1"/> 
   <input id="s3" type="radio" name="slide1"/>
   <input id="s4" type="radio" name="slide1"/> 
   <input id="s5" type="radio" name="slide1"/>
   <input id="s6" type="radio" name="slide1"/> 
   <input id="s7" type="radio" name="slide1"/>
   <input id="s8" type="radio" name="slide1"/> 
   <input id="s9" type="radio" name="slide1"/>
   <input id="s10" type="radio" name="slide1"/> 
   <div class="sh__content">

      <!-- Slider Item -->
      <div class="sh__item">
         <img src="~/imagenes/1.jpg" alt="imgText"/>
         <!-- Item Info -->
         <div class="sh__meta">
            <h4>2 Weeks</h4>
            <span>Secondary text <a href="#urlPage">with link</a></span>
         </div>
      </div>

      <!-- Slider Item -->
      <div class="sh__item">
         <img src="~/imagenes/1.jpg" alt="imgText"/>
         <!-- Item Info -->
         <div class="sh__meta">
            <h4>Artwork surreal</h4>
            <span>Secondary text without link</span>
         </div>
      </div>

      <!-- Slider Item -->
      <div class="sh__item">
         <img src="~/imagenes/3.jpg" alt="imgText"/>
         <!-- Item Info -->
         <div class="sh__meta">
            <h4>Cat under a carpet</h4>
            <span>Secondary text without link</span>
         </div>
      </div>

   </div><!-- .sh__content -->

   <!--botones-->
   <div class="sh__btns">
      <label for="s1"> </label>
      <label for="s2"> </label>
      <label for="s3"> </label>
      <label for="s4"> </label>
      <label for="s5"> </label>
      <label for="s6"> </label>
      <label for="s7"> </label>
      <label for="s8"> </label>
      <label for="s9"> </label>
   </div><!-- .sh__btns -->

   <!--flechas-->
   <div class="sh__arrows d-none">
      <label style='background-color:yellow;' for="s1"> 
          <i class="bi bi-arrow-left-circle"></i> 
      </label>
      <label style='background-color:green;' for="s2"><i class="bi bi-arrow-left-circle"></i></label>
      <label for="s3"><i class="bi bi-arrow-left-circle"></i></label>

      <label style='background-color:red;' for="s4"><i class="bi bi-arrow-right-circle"></i></label>
      <label style='background-color:blue;' for="s5"><i class="bi bi-arrow-right-circle"></i></label>


      <label style='background-color:red;' for="s4"><i class="bi bi-arrow-right-circle"></i></label>
      <label style='background-color:blue;' for="s5"><i class="bi bi-arrow-right-circle"></i></label>


   </div><!-- .sh__arrows -->
   
</div><!-- .sheetSlider -->